<!--app component view-->

<header>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar">
                    <span class="sr-only">toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Angular 2 Localization</a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar">
                <ul class="nav navbar-nav">
                    <li [ngClass]="{active: location.path() == ''}"><a [routerLink]="['Home']">Home</a></li>
                    <li [ngClass]="{active: location.path() == '/i18n'}"><a [routerLink]="['I18n']">i18n</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'CHANGE_COUNTRY' | translate }}&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu multi-level">

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">English</a>
                                <ul class="dropdown-menu">
                                    <li><a class="btn btn-default btn-block" (click)="selectLocale('en', 'US', 'USD')">&nbsp;United States&nbsp;<i class="glyphicon glyphicon-ok" *ngIf="currentCountry == 'US'"></i></a></li>
                                    <li><a class="btn btn-default btn-block" (click)="selectLocale('en', 'GB', 'GBP')">&nbsp;United Kingdom&nbsp;<i class="glyphicon glyphicon-ok" *ngIf="currentCountry == 'GB'"></i></a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Italiano</a>
                                <ul class="dropdown-menu">
                                    <li><a class="btn btn-default btn-block" (click)="selectLocale('it', 'IT', 'EUR')">&nbsp;Italia&nbsp;<i class="glyphicon glyphicon-ok" *ngIf="currentCountry == 'IT'"></i></a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<main>

    <!--router outlet-->
    <router-outlet></router-outlet>

</main>

<footer class="footer">

    <div class="container text-center">
        <a href="https://github.com/robisim74/angular2localization/tree/gh-pages" title="GitHub Pages">Source code</a>
    </div>

</footer>