<md-sidenav-container class="app-root" #root="$implicit" [dir]="dir" fullscreen>

    <md-sidenav #start mode="over">

        <md-nav-list>
            <h3>{{ 'MENU' | translate:lang }}</h3>
            <a routerLinkActive="active-link" md-list-item routerLink="/home">{{ 'HOME' | translate:lang }}</a>
            <a routerLinkActive="active-link" md-list-item routerLink="/i18n">{{ 'I18N' | translate:lang }}</a>
            <a routerLinkActive="active-link" md-list-item routerLink="/list">{{ 'LIST' | translate:lang }}</a>
            <a routerLinkActive="active-link" md-list-item routerLink="/validation">{{ 'VALIDATION' | translate:lang }}</a>
        </md-nav-list>

        <md-nav-list>
            <h3>{{ 'CHANGE_COUNTRY' | translate:lang }}</h3>
            <md-list-item>
                <a md-line (click)="selectLocale('en', 'US', 'USD'); root.dir = 'ltr'">United States</a>
                <md-icon *ngIf="currentCountry == 'US'">done</md-icon>
            </md-list-item>
            <md-list-item>
                <a md-line (click)="selectLocale('en', 'GB', 'GBP'); root.dir = 'ltr'">United Kingdom</a>
                <md-icon *ngIf="currentCountry == 'GB'">done</md-icon>
            </md-list-item>
            <md-list-item>
                <a md-line (click)="selectLocale('it', 'IT', 'EUR'); root.dir = 'ltr'">Italia</a>
                <md-icon *ngIf="currentCountry == 'IT'">done</md-icon>
            </md-list-item>
            <md-list-item>
                <a md-line (click)="selectLocale('ar', 'SA', 'SAR'); root.dir = 'rtl'">المملكة العربية السعودية</a>
                <md-icon *ngIf="currentCountry == 'SA'">done</md-icon>
            </md-list-item>
        </md-nav-list>

        <md-nav-list>
            <h3>{{ 'RESOURCES' | translate:lang }}</h3>
            <a md-list-item href="https://github.com/robisim74/angular2localization/tree/gh-pages">{{ 'SOURCE_CODE' | translate:lang }}</a>
        </md-nav-list>

    </md-sidenav>

    <div>
        <md-toolbar color="primary">
            <button md-icon-button (click)="start.open()">
                <md-icon class="md-24">menu</md-icon>
            </button>
            <div class="app-toolbar">
                <h1>{{ 'TITLE' | translate:lang }}</h1>

                <span class="fill-remaining-space"></span>
            </div>
            <md-toolbar-row>
                <span>{{ 'SUBTITLE' | translate:lang }}</span>
            </md-toolbar-row>
        </md-toolbar>
    </div>

    <div class="app-content">

        <router-outlet></router-outlet>

    </div>

</md-sidenav-container>