<br>
<div *ngIf="intlSupport == false" style="color: #D32F2F;" translate>INTL_SUPPORT</div>
<br>

<div class="app-card-container">

    <md-card>
        <md-card-title translate>MESSAGES</md-card-title>
        <md-card-content>
            <p translate>DUMMY_TEXT</p>
            <p translate>AUTHOR<span>&nbsp;</span><em translate>SOURCE_TITLE</em></p>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title translate>DATES</md-card-title>
        <md-card-content>
            <p localeDate="fullDate">{{ today }}</p>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title translate>NUMBERS</md-card-title>
        <md-card-content>
            <h3 translate>DECIMALS</h3>
            <p translate>PI<span>&nbsp;</span><span localeDecimal="1.5-5">{{ pi }}</span></p>
            <br>
            <h3 translate>PERCENTAGES</h3>
            <p localePercent="1.0-0">{{ a }} </p>
            <br>
            <h3 translate>CURRENCIES</h3>
            <p localeCurrency="1.2-2" [symbol]="true">{{ b }}</p>
        </md-card-content>
    </md-card>

</div>