<div class="app-card-container">

    <md-card>
        <md-card-title>{{ 'GENDER' | translate }}</md-card-title>
        <md-card-content>
            <md-radio-button name="gender" ref-female value="female" (click)="gender = female.value">{{ 'FEMALE' | translate }}</md-radio-button>
            <md-radio-button name="gender" ref-male value="male" (click)="gender = male.value">{{ 'MALE' | translate }}</md-radio-button>
            <br>
            <br>
            <p *ngIf="gender != ''">{{ gender | i18nSelect: inviteMapping | translate }}.</p>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>{{ 'PLURAL' | translate }}</md-card-title>
        <md-card-content>
            <form (ngSubmit)="addMessage(message)">
                <md-input [(ngModel)]="message" style="width: 100%" placeholder="{{ 'ADD_MESSAGE' | translate }}" required></md-input>
                <button md-raised-button color="warn">{{ 'ADD' | translate }}</button>
                <br>
                <br>
                <p>{{ messages.length | i18nPlural: messageMapping | translate}}.</p>
            </form>
        </md-card-content>
    </md-card>

</div>