<div class="app-card-container">

    <md-card *ngFor="let item of DATA">
        <md-card-title>{{ item.name }}</md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item>
                    <h3 md-line>{{ item.position | translate:lang }}</h3>
                    <p md-line>{{ item.salary | localecurrency:defaultLocale:currency:true:'1.0-0' }}</p>
                    <p md-line>{{ item.startDate | localedate:defaultLocale:'mediumDate' }}</p>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>

</div>